body
{
    text-align: center;
}

#principal
{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #DDDDDD;

    transition: transform 0.2s ease-in-out 0.2s;
    -moz-transition: -moz-transform 0.2s ease-in-out 0.2s;
    -webkit-transition: -webkit-transform 0.2s ease-in-out 0.2s;
}

#principal:hover
{
    transform: scale(1.2) rotate(6deg);
    -moz-transform: scale(1.2) rotate(6deg);
    -webkit-transform: scale(1.2) rotate(6deg);
}

#titulo
{
    font: bold 36px verdana, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
    color: hsla(240, 100%, 60%, 0.5);
}

